<div style="overflow-x:auto;" class="container">
    <div class="row">
        <div class="col-9">
            <table class="objetivos table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col" i18n="@@namemomo">Name</th>
                        <th scope="col" i18n="@@pecnre">Percentage</th>
                        <th scope="col" i18n="@@tarehet">Objetive state</th>
                        <th scope="col" i18n="@@targdsfsdfetesta">Deliverable</th>
                        <th scope="col" i18n="@@acdsfshgf">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let objetivo of objetivos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <th>{{objetivo.id}}</th>
                        <td>{{objetivo.name}}</td>
                        <td>{{objetivo.porcentaje}} </td>
                        <td>{{objetivo.estadoObjetivo}}% </td>
                        <td>{{objetivo.entregable}} </td>
                        <td>
                            <button class="btn btn-outline-dark" (click)="enviar(objetivo.id)"
                                routerLink="/component/ListarEntregables" i18n="@@oituthdgd">List Deliverable</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="objetivos.length" [(page)]="page" [pageSize]="pageSize"
                    [boundaryLinks]="true">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="2" i18n="@@2pp">2 items per page</option>
                    <option [ngValue]="4" i18n="@@4pp">4 items per page</option>
                    <option [ngValue]="6" i18n="@@6pp">6 items per page</option>
                </select>
            </div>

        </div>
        <div class="col-3">
            <div class="col-12">
                <button class="btn btn-outline-info" (click)="enviarC()" routerLink="/component/CrearObjetivo"
                    i18n="@@dfdcreatopasfh">Create Objetive</button>
            </div>
            <br>
            <div class="col-12">
                <button class="btn btn-outline-info" routerLink="/component/ListarProyectos" i18n="@@pcpiopppp">
                    Return to Projects</button>
            </div>
        </div>
    </div>
</div>