<div *ngIf="proyecto">
    <h3>Detalles del Proyecto:</h3>
    <table>
        <thead>
            <tr>
               
            </tr>
        </thead>
        <tr><h1>{{proyecto.name | uppercase}}</h1></tr>
                <tr><div><td><span>Id: </span></td><td>{{proyecto.id}}</td></div></tr>
                <tr><div><td><span>Nombre: </span></td><td>{{proyecto.name}}</td></div></tr>
                <tr><div><td><span>Responsable: </span></td><td>{{proyecto.responsable}}</td></div></tr>
                <tr><div><td><span>Modalidad: </span></td><td>{{proyecto.modalidad}}</td></div></tr>
                <tr><div><td><span>Asesor: </span></td><td>{{proyecto.asesor}}</td></div></tr>
                <tr><div><td><span>Fecha de Creación: </span></td><td>{{proyecto.fecha_Creacion.toLocaleString().slice(0,10)}}</td></div></tr>
                <tr><div><td><span>Fecha de Inicio : </span></td><td>{{proyecto.fecha_Inicial.toLocaleString().slice(0,10)}}</td></div></tr>
                <tr><div><td><span>Fecha de finalizacion : </span></td><td>{{proyecto.fecha_Final.toLocaleString().slice(0,10)}}</td></div></tr>
                <tr><div><td><span>Objetivos: </span></td><td>{{proyecto.objetivos}}</td></div></tr>

    </table>
</div>