<div *ngIf="proyecto">

    <h1>{{proyecto.name | uppercase}}</h1>    
    <h3>Detalles del Proyecto:</h3>
    <div><span>Id: </span>{{proyecto.id}}</div>
    <div><span>Nombre: </span>{{proyecto.name}}</div>
    <div><span>Responsable: </span>{{proyecto.responsable}}</div>
    <div><span>Modalidad: </span>{{proyecto.modalidad}}</div>
    <div><span>Asesor: </span>{{proyecto.asesor}}</div>
    <div><span>Fecha de Creación: </span>{{proyecto.fecha_Creacion}}</div>
    <div><span>Fecha de Inicio : </span>{{proyecto.fecha_Inicial}}</div>
    <div><span>Fecha de finalizacion : </span>{{proyecto.fecha_Final}}</div>
    <div><span>Objetivos: </span>{{proyecto.objetivos}}</div>
  
</div>

<app-messages></app-messages>