<div>
        <p>En el módulo de gestión de proyectos permite la creación, desarrollo y control de<br />
        proyectos de docencia, investigación y extensión que actualmente ejecuta el <br />
        departamento de ingeniería de sistemas de la Universidad de Antioquia.
        </p>
        <table>
            <thead>
                <tr><th>PROYECCION DEL APLICATIVO</th></tr> 
            </thead>
            <tr><td>Crear Proyectos</td></tr>
            <tr><td>Listar Proyectos</td></tr>
            <tr><td>Buscar Proyectos</td></tr>
            <tr><td>Actualizar Proyectos</td></tr>
            <tr><td>Borrar Proyectos</td></tr>
        </table>
</div>