<div>
        <p i18n="@@index">In the project management module it allows the creation, development and control of<br />
        teaching, research and extension projects currently being carried out by the <br />
        systems engineering department of the University of Antioquia.
        </p>
        <table>
            <thead>
                <tr><th i18n="@@indexT">PROJECTION OF THE APPLICATION</th></tr> 
            </thead>
            <tr><td i18n="@@indexC">Create project</td></tr>
            <tr><td i18n="@@indexL">List Projects</td></tr>
            <tr><td i18n="@@indexs">Search Projects</td></tr>
            <tr><td i18n="@@indexU">Update Projects</td></tr>
            <tr><td i18n="@@indexD">Delete Projects</td></tr>
        </table>
</div>