<div style="overflow-x:auto;" class="container">
  <div class="row">
    <div class="col-10">
      <table class="proyectos table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th i18n="@@pn" scope="col">Name</th>
            <th i18n="@@pa" scope="col">Adviser</th>
            <th i18n="@@pm" scope="col">Modality</th>
            <th i18n="@@pat" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
            [class.selected]="proyecto === selectedProyecto" (click)="onSelect(proyecto)">
            <th>{{proyecto.id}}</th>
            <td>{{proyecto.name}}</td>
            <td>{{proyecto.asesor}} </td>
            <td>{{proyecto.modalidad}}</td>
            <td>
              <button class="btn btn-outline-dark" (click)="enviar(proyecto)" routerLink="/component/ListarObjetivos" i18n="@@plo">List Objetives</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="proyectos.length" [(page)]="page" [pageSize]="pageSize"
          [boundaryLinks]="true">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option i18n="@@2pp" [ngValue]="2">2 items per page</option>
          <option i18n="@@4pp" [ngValue]="4">4 items per page</option>
          <option i18n="@@6pp" [ngValue]="6">6 items per page</option>
        </select>
      </div>

    </div>
    <div class="col-2">
      <button class="btn btn-outline-info" routerLink="/component/CrearProyecto" i18n="@@pcp">Create Project</button>
    </div>
  </div>
</div>
<app-proyecto-detalles [proyecto]="selectedProyecto"></app-proyecto-detalles>